<div class="black-background"></div>

<div class="card p-4 alert-form">
    <span id="menu-error" class="bg-danger text-white"></span>

    <i id="hide-edit-menu" class="fas fa-times-circle close-form"></i>
    <div class="form-group">
        <label>name</label>
        <input id="name-menu-form" type="text" class="form-control" placeholder="name" value="{{name}}">
    </div>
    <div class="form-group">
        <label>description</label>
        <input id="description-menu-form" type="text" class="form-control" placeholder="description" value="{{description}}">
    </div>
    <div class="form-group">
        <label>prix</label>
        <input id="prix-menu-form" type="text" class="form-control" placeholder="prix" value="{{prix}}">
    </div>
    <div class="form-group">
        <label>picture</label>
        <input id="picture-menu-form" type="file" class="form-control" filename="{{picture}}" placeholder="picture">
    </div>
    <div class="form-group">
        <label>category</label>
        <select id="category-id-menu-form" class="form-control" placeholder="category"></select>
    </div>

    <button id="submit-menu-form" class="btn btn-primary">Change</button>
</div>